body {
    margin: 50px;
}
/*
#button1{
    margin:0px 0px;
    position: relative; 
    top: 10px;
    left: 20px;
}
#button2 {
    margin: 0px 0px;
    position: relative;
    
    top: 500px;
    left: 20px;
}
*/
#fig1{
    width: 200px;
}
